src/main/mule/parsetemplate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d25da2d9-2f85-4384-9786-3c4622461c47" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="parsetemplateFlow" doc:id="ab522fbc-a0f2-422d-802d-ff9dad7f1b98" >
		<http:listener doc:name="Listener" doc:id="a91cbb52-f790-4cc7-9dcc-8347b246aef7" config-ref="HTTP_Listener_config" path="/template"/>
		<parse-template doc:name="Parse Template" doc:id="8f5df6cf-dd7b-4251-909e-fb272c4fb865">
			<content >Myself #[payload.Name] purchased a order #[payload.order] in #[payload.site] on 
#[payload.Date] #[now().timezone]</content>
		</parse-template>
		<logger level="INFO" doc:name="Logger" doc:id="e1144c11-6562-4611-8426-407c8a96241d" message="#[payload]"/>
	</flow>
</mule>
